/* Text > Color
----------------------------------------------- */
.red-text{color:#F44336!important;}

.blue-text{color:#1b75bb!important;}
.dodger-blue{color: #56a5f8!important;}

.green-text{color:#02AD37!important;}
.light-green-text{color: #00b17b!important;}
.spring-green-text{color: #00d296!important;}

.white-text{color:#ffffff!important;}
.white-two-text{color: #f0f0f0!important;}
.white-three-text{color: #fafafa!important;}
.white-four-text{color: #d2d2d2!important;}

.black-text{color:#000000 !important;}

.grey-text{color:#949494!important;}
.light-grey-text{color:#C8C8C8!important;}
.dark-grey-text{color:#777777!important;}
.greyish-brown-text{color: #464646!important;}

.brownish-grey{color: #646464!important;}
.greyish{color: #b4b4b4!important;}
.warm-grey{color: #8c8c8c!important;}

.orange{color:#F8AD40 !important;}
.deep-orange{color: #dd4f05!important;}
.orange-yellow{color: #ffae00!important;}
.yellow{color:yellow !important;}


/* Background Colors
------------------------------------------*/
.bg-spring-green{background-color: #00b17b!important;}
.bg-red{background-color: #f16868!important;}
.bg-white{background-color: white!important;}
.bg-warning{background-color: #EC4136!important;}
.bg-gray{background-color: #ddd!important;}
