/*Cursores
-------------------------------*/
$cursores: 'pointer', 'move', 'wait', 'no-drop', 'not-allowed';
$cursor: 'cursor' !default;

@each $i in $cursores{
  .#{$cursor}-#{$i}{
      cursor: $i !important;
  }
};



