/* GAPS
----------------------------------------*/
$horizontal-gaps: 'hgap' !default;
$vertical-gaps: 'vgap' !default;

@for $i from 5 through 30{
    .#{$horizontal-gaps}-#{$i}{
        width: 0px + $i !important;
    }
};

@for $i from 5 through 30{
    .#{$vertical-gaps}-#{$i}{
        height: 0px + $i !important;
    }
};